{% set entries = text|split('\n') %}

{% if active %}
    <div class="text-slider"
         data-text-slider="true"
         data-zen-text-slider-options='{"interval": 4000}'>
        <div class="text-items text-slider-items">
            {% for entry in entries %}
                <div class="text-item text-slider-item"><span class="item-entry">{{ entry|raw }}</span></div>
            {% endfor %}
        </div>
    </div>
    {% if buttonText and buttonLink %}
        <div class="text-slider-button">
            <a href="{{ buttonLink }}"
               {% if buttonTarget is same as ('_blank') %}target="_blank" rel="noopener"{% endif %}
               title="{{ buttonText }}"
               class="btn btn-outline btn-sm">
                {{ buttonText }}
            </a>
        </div>
    {% endif %}
{% endif %}
